.project-heading {
  margin-top: -675px;
  padding: 30px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  /* padding: 1rem; */
}

.cards-item-link {
    display: flex;
    flex-flow: column;
    width: 80%;
    box-shadow: 0 6px 20px rgba(190, 127, 32, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(190, 127, 32, 0.017));
    filter: drop-shadow(0 6px 20px rgba(190, 127, 32, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards-item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  padding-top: 1.25%;
  overflow: hidden;
}  
 
.cards-item-info {
  padding: 20px 30px 30px;
}
  
.cards-item-text { 
  color: #d86b0c;
  font-size: 18px;
  line-height: 24px;
  text-align: center
}

.cards-item-anchor {
  color: rgb(0, 195, 255);
}

  
@media only screen and (min-width: 1024px) {
  .cards {
      display: flex;
      padding: 1rem;
  }
  .project-heading {
    padding: 30px;
  }
}
  
