.resume-title {
  position: relative;
  display: flex;
  margin-top: -640px;
  margin-left: 15px;
  margin-bottom: 55px;  
}
 
span {
  margin-top: 2em;
  margin-bottom: 5em;
  padding-left: 30px; 
    
}

ul { 
    display: block;
    list-style-type: circle inside;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
}

@media only screen and (max-width: 1024px) {
  .resume-title {
    margin-top: -440px;
    margin-left: 15px;
    margin-bottom: 55px;
  }
}

