.contact {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  position: relative;
  margin-top: -500px;
  width: 70%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.contact-form{
  margin-left: 5px;
  height: 100%; 
  box-shadow: 2px 2px 5x lightcoral;
  border-radius: .25rem;
  justify-content: left;
}

.contact-title {
  text-align: left;
  margin-top: -120px;
  color: rgb(170, 92, 92);
}
  
label {
  width: 25%;
  margin-top: 6px;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
    
}

button:focus, 
button:hover {
  color: white;
  background-color: rgb(50, 156, 205);
  outline: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
  
input[type=submit]:hover {
  background-color: #45a049;
}
  
  
/* Responsive layout - when the screen is less than 800px wide, 
  make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {        
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0px; 
  }
  .contact-title {
    margin-top: -50px;
  }
}