footer {
    display: fixed;
    align-items: center;
    width: 100%;
    padding: 0.25em;
    background-color: black;
    color: rgb(28, 124, 208);
    opacity: .75;
    justify-content: space-between;
    font-family: "MonteCarlo", cursive;
    font-size: 1.5rem; 
  }

footer a {
    margin-left: 215px;
}

footer a:visited {
    color: rgb(218, 177, 16);
    text-decoration: none;
}

footer a:hover {
    color: rgb(12, 199, 12);
}
